body {
	font-family: 'Open Sans', 'sans-serif';
	line-height: 1.33;
}

h2 {
	font-weight: 300;
}

h1,
h2,
h3{
	color: #2a2d34;
}

a {
	color: #0081b5;
}

.content {
	margin: auto;
	max-width: 768px;
}

#picture,
#contact {
	display: inline-block;
}

#contact {
	vertical-align: top;
}

#contact h2 {
	display: none;
}

